%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      = @title || "media and stuff"
    =javascript_script_tag "/javascripts/prototype.js"
    =javascript_script_tag "/javascripts/application.js"
  %body
    #content
      =yield

